python-dotenv

# langchain frmework
langchain
langchain-core
langchain-community
langchain-text-splitters

# LLM Provider
langchain-groq

# vector store
langchain-qdrant
qdrant-client

# notebook
jupyter
ipykernel

# web app
streamlit